@page "/orders/delete/{orderId:int}"
@inject HttpClient HttpClient
@using FinalProject.Shared
@inject NavigationManager nvm
@layout _AdminLayout

<h3>Order Data</h3>

@if (order != null)
{
    <table>
        <tr>
            <td>Order ID: </td>
            <td>@order.Id</td>
        </tr>
        <tr>
            <td>Customer Name: </td>
            <td>@order.CustomerName</td>
        </tr>
        <tr>
            <td>Email: </td>
            <td>@order.Email</td>
        </tr>
        <tr>
            <td>Address: </td>
            <td>@order.Address</td>
        </tr>
        <tr>
            <td>Total price: </td>
            <td>@order.TotalPrice</td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-primary" @onclick="(() => HandleDelete(order.Id))">Delete</button>
            </td>
        </tr>
        </table>
}

@code {
    [Parameter] public int orderId { get; set; }
    public Order order;

    protected override async Task OnInitializedAsync()
    {
        order = await HttpClient.GetFromJsonAsync<Order>($"api/users/{orderId}");
    }

    private async void HandleDelete(int Id)
    {
        await HttpClient.DeleteAsync($"api/orders/{Id}");
        nvm.NavigateTo("/order-list");
    }
}
