@page "/products/add"
@inject HttpClient HttpClient
@inject NavigationManager nvm
@using FinalProject.Shared
@layout _AdminLayout

<h3>Add Product</h3>

<EditForm Model="@product" OnValidSubmit="AddProduct">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">Name:</label>
        <InputText id="name" @bind-Value="product.Name" />
        <ValidationMessage For="@(() => product.Name)" />
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <InputText id="description" @bind-Value="product.Description" />
        <ValidationMessage For="@(() => product.Description)" />
    </div>

    <div class="form-group">
        <label for="price">Price:</label>
        <InputNumber id="price" @bind-Value="product.Price" />
        <ValidationMessage For="@(() => product.Price)" />
    </div>

    <div class="form-group">
        <label for="image">Image:</label>
        <InputFile id="image" OnChange="@OnFileChanged" />
        <ValidationMessage For="@(() => product.Image)" />
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Add Product</button>
    </div>
</EditForm>


@code {
    public Product product = new Product();

    private async Task AddProduct()
    {
        await HttpClient.PostAsJsonAsync("api/products", product);
        nvm.NavigateTo("/admin");
    }

    private async Task OnFileChanged(InputFileChangeEventArgs e)
    {
        var imageFile = e.File;

        using (var memoryStream = new MemoryStream())
        {
            await imageFile.OpenReadStream().CopyToAsync(memoryStream);
            product.Image = memoryStream.ToArray();
        }
    }
}
